<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [154]:
import pandas as pd

In [155]:
# Change the path to the dataset file if needed. 
PATH = '/notebooks/data/athlete_events.csv'

In [156]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [50]:
groupby_sex = data.loc[data.Year==1996]['Age'].groupby(data['Sex'])
groupby_sex.describe()

# Answer: M = 14, F = 12

      count       mean       std   min   25%   50%   75%   max
Sex
F    5006.0  23.655014  5.751171  12.0  19.0  23.0  27.0  58.0
M    8766.0  25.634611  5.218781  14.0  22.0  25.0  28.0  63.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [71]:
gymnasts = data.loc[(data.Year==2000) & (data.Sex=='M') & (data.Sport == 'Gymnastics')]['ID'].drop_duplicates()
atheletes = data.loc[(data.Year==2000) & (data.Sex=='M')]['ID'].drop_duplicates()

#answer
round(len(gymnasts)/len(atheletes) * 100, 1)

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [75]:
female_basketball = data.loc[(data.Year==2000) & (data.Sex=='F') & (data.Sport == 'Basketball')].drop_duplicates()
female_basketball['Height'].describe()

#asnwer: 182.4 and 9.1

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [83]:
o_2002 = data.loc[(data.Year==2002)].drop_duplicates()
o_2002.loc[o_2002.Weight == max(o_2002.Weight)]

# answer: Bobsleigh

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [160]:
data.loc[(data.Name=='Pawe Abratkiewicz')].Year.drop_duplicates()

# answer: 3

997     1992
999     1998
1001    2002
Name: Year, dtype: int64

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [94]:
aus = data.loc[(data.Team=='Australia') & (data.Year == 2000) & (data.Medal == 'Silver') & (data.Sport == 'Tennis')]
len(aus['ID'].value_counts())

#answer : 2

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [114]:
Serbia = data.loc[(data.Team == 'Serbia') & (data.Year == 2016) & (data.Medal.notna())].drop_duplicates()
Switzerland = data.loc[(data.Team == 'Switzerland') & (data.Year == 2016) & (data.Medal.notna())].drop_duplicates()


print('Serbia :', len(Serbia))
print('Switzerland :', len(Switzerland))

# Answer: Yes

Serbia : 54
Switzerland : 11

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [123]:
_15 = data.loc[(data.Age >= 15) & (data.Age <= 25) & (data.Year == 2014)]['ID'].drop_duplicates()
print('15: ', len(_15))

_25 = data.loc[(data.Age >= 25) & (data.Age <= 35) & (data.Year == 2014)]['ID'].drop_duplicates()
print('25: ', len(_25))

_35 = data.loc[(data.Age >= 35) & (data.Age <= 45) & (data.Year == 2014)]['ID'].drop_duplicates()
print('35: ', len(_35))

_45 = data.loc[(data.Age >= 45) & (data.Age <= 55) & (data.Year == 2014)]['ID'].drop_duplicates()
print('45: ', len(_45))

# Answer: [45-55] and [25-35) correspondingly

15:  1394
25:  1447
35:  151
45:  5

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [130]:
data[['Season', 'City']].drop_duplicates().sort_values(by=['Season', 'City'])

# answer: No, Yes

      Season                    City
133   Summer               Amsterdam
2     Summer               Antwerpen
82    Summer                  Athina
32    Summer                 Atlanta
0     Summer               Barcelona
79    Summer                 Beijing
94    Summer                  Berlin
29    Summer                Helsinki
1     Summer                  London
26    Summer             Los Angeles
128   Summer               Melbourne
89    Summer             Mexico City
145   Summer                Montreal
188   Summer                  Moskva
90    Summer                  Munich
3     Summer                   Paris
80    Summer          Rio de Janeiro
129   Summer                    Roma
91    Summer                   Seoul
711   Summer               St. Louis
35    Summer               Stockholm
31    Summer                  Sydney
192   Summer                   Tokyo
6     Winter             Albertville
4     Winter                 Calgary
672   Winter                Chamonix
111   Winter       Cortina d'Ampezzo
1327  Winter  Garmisch-Partenkirchen
266   Winter                Grenoble
85    Winter               Innsbruck
30    Winter             Lake Placid
8     Winter             Lillehammer
68    Winter                  Nagano
110   Winter                    Oslo
28    Winter          Salt Lake City
935   Winter            Sankt Moritz
626   Winter                 Sapporo
87    Winter                Sarajevo
40    Winter                   Sochi
83    Winter            Squaw Valley
77    Winter                  Torino
245   Winter               Vancouver

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [159]:
subset = data.loc[data.Year.isin([1995, 2016])][['Sport', 'Year']].drop_duplicates()
print(2016, len(subset.loc[subset.Year == 2016]))

print(1995, len(data.loc[data.Year == 1995][['Sport', 'Year']].drop_duplicates()))


# Answer: 34

2016 34
1995 0

In [157]:
data.loc[data.Year == 1995]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []